{% extends "base.html" %}
{% block content %}
    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        {% include "security/_messages.html" %}
                        <h1>Login</h1>
                        <form role="form" class="form-horizontal" action="{{ url_for_security('login') }}" method="POST">
                            {{ login_user_form.hidden_tag() }}

                            {% for field in login_user_form %}
                            {% if field|simple_field_filter %}
                            {% if field.name == 'submit' %}
                            <div class="page-scroll">
                                <button name="submit" type="submit" class="btn btn-circle btn-circle-right">
                                    <i class="fa fa-angle-double-right animated"></i>
                                </button>
                            </div>
                            {% else %}
                            <div class="form-group">
                                {{ field.label(class='col-sm-5 control-label') }}
                                <div class="col-sm-5">
                                    {{ field(class='form-control') }}
                                    {% if field.errors %}
                                    <span class="help-inline">
                                        {{ field.errors|join('<br />')|safe }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block bootstrap_js_bottom %}
    {{ super() }}
    <script>
        var offset = new Date().getTimezoneOffset();
        $(document).ready(function() {
            $('#offset').val(offset);
        });
    </script>
{% endblock %}
