Flask==0.10.1
Flask-Admin==1.0.8
Flask-Bootstrap==3.1.1.2
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Security==1.7.3
SQLAlchemy==0.9.4
bcrypt==1.0.2
phonenumbers==6.2.0
pyotp==1.4.1
pytz==2014.4
raven==5.0.0
telapi==0.2.5.2
