{% if header == 'signup' %}
    <h1>Step Two: Select Your Actions</h1>
    <p>Next, pick some actions. These are the actions you would like to have sent to you. We'll send you one randomly based on the schedule you pick at the next step.</p>
{% elif header == 'manage' %}
    <h1>
        {{ method_name or 'All' }}
        <a href="#" id="methods-toggle" class="btn btn-lg btn-clear">Change</a>
    </h1>
{% endif %}
{% if request.args.get('next') %}
<input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
{% endif %}
{% for section in result %}
    {% if section %}<div class="row"><h3>{{ section }}</h3></div>{% endif %}
<div class="row">
    {% for key in result[section] %}
    <div class="col-lg-4" style="margin-bottom: 1em;" data-toggle="buttons">
        <label class="btn btn-default btn-block{% if key in actions %} active{% endif %}">
            <input type="checkbox" name="action" value="{{ key }}"{% if key in actions %} checked="checked"{% endif %}>{{ result[section][key] }}
        </label>
    </div>
    {% endfor %}
{% if loop.index is divisibleby 3 %}
</div>
<div class="row">
{% endif %}
</div>
{% endfor %}
{% if header == 'signup' %}
    {% from "signup_base.html" import signup_navigation with context %}
    {{ signup_navigation() }}
{% endif %}
