{% extends "base.html" %}
{% block sub_title %}About{% endblock %}
{% block content %}
    <section class="intro" id="content-base">
        <div class="about-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="well" style="background-color: #333">
                            <h1 id="love_touches" class="intro-header">About Love Touches</h1>
                            <p>Love Touches was birthed out of my own forgetfulness. I know that I want to do things that make my wife feel loved. I have the best of intentions but I either (a) forget to do anything to demonstration my affection or (b) fall into a rut, repeating the same "tried and true" actions over and over.</p>
                            <p>I knew that my wife deserved better. Sure, I could have set up a daily reminder on my calendar to "do something nice", but I wanted to go above and beyond. My wife and I had read <a href="http://www.5lovelanguages.com/">The Five Love Languages</a> and we both found benefit to recognizing our love languages. Since my strengths are not my wife's love languages, I thought that there would be benefit to being able to send myself daily suggestions based on my wife's love languages. That way I could not only keep things interesting, I could make sure that what I did was well recevied by my wife. Thus, the idea for Love Touches was born.</p>
                            <p>However, I realized that I couldn't be the only person that could benefit from daily reminders. As such, I decided to turn my idea into a website for others to sign up for reminders as well. I hope that you find these love touches as meaningful as I do.</p>
                            <p>Note: There are costs associated with running Love Touches even though it is provided for free. If you would like to financially support this project, donation links are below:</p>
                            <div class="row">
                                <div class="col-xs-6">
                                    <script data-gratipay-username="love_touches" src="//gttp.co/v1.js"></script>
                                </div>
                                <td class="col-xs-6">
                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                        <input type="hidden" name="cmd" value="_s-xclick">
                                        <input type="hidden" name="hosted_button_id" value="CASR6D7F3WHZS">
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                </td>
                            </div>
                            <p>Love Touchs is an open source project. If you wish to contribute, are interested to view the code, or would like to file a bug, you may do so.</p>
                            <ul class="list-inline banner-social-buttons">
                                <li><a href="https://github.com/brolewis/love_touches" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name"></span>Source</a></li>
                                <li><a href="https://github.com/brolewis/love_touches/issues" class="btn btn-default btn-lg"><i class="fa fa-bug fa-fw"></i> <span class="network-name">Issues</span></a></li>
                            </ul>
                        </div>
                        <div class="well" style="background-color: #333">
                            <h1 id="the_author" class="intro-header">About the Author</h1>
                            <p>My name is Lewis Franklin. Who am I? I am a Christian, a husband, a father, a Python programmer, and Baylor fan. It seems a little trite to try and sum up my life in a single page. However, here's my best attempt.</p>
                            <p>First and foremost, I identify as a Christian. I have found this to be a challenging belief in my industry but I hold true to what I believe and am active in my church and lead a life group.</p>
                            <p>I am also married to an incredible woman (she has to be to toerate me). We have been married since 2007 and while the adventure has not been what we expected, it has been an incredible journey and am grateful to have her as my life partner with whom I can experience this life.</p>
                            <p>I am also the father to two kids, both of whom have <a href="http://en.wikipedia.org/wiki/Congenital_disorder_of_glycosylation">Congenital Disorder of Glycosylation</a>. Its a rare disorder that results in them having physical delays such as walking, talking (my son), and general balance. Being the parent to special needs children is challenging but my two kids are two of the happiest kids I know and they bring me great amounts of joy.</p>
                            <p>I am also a programmer. I started programming in high school with 2 computer science classes. However, I wasn't really into it back then and largely forgot about it. However, fast forward to my senior year of college and I needed a way to keep track of the membership at the church where I worked. I found this tool called InfoCentral that seemed to work, but had some rough edges. I figured that I had taken programming in high school; I could make the changes. I taught myself PHP and got to work. I sent the code back to the core developer in case he wanted to incorporate my changes and he was appreciative and said he no longer had time to manage the project and wanted to know if I would maintain the code, so I went from brief hacker to project maintainer overnight. That started my love affair with programming that hasn't gone away. I discovered Python at my first job and haven't looked back.</p>
                            <p>Lastly, I am a proud graduate of Baylor University. Both of my degrees were earned at this fine institution and I am a proud alum, attending sporting events when I can and watching those I can't.</p>
                            <ul class="list-inline banner-social-buttons">
                                <li><a href="https://brolewis.com" class="btn btn-default btn-lg"><i class="fa fa-newspaper-o fa-fw"></i> <span class="network-name">Blog</span></a></li>
                                <li><a href="https://twitter.com/brolewis" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a></li>
                                <li><a href="https://github.com/brolewis" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                                <li><a href="http://www.linkedin.com/in/brolewis/" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
