{% extends "base.html" %}

{% if request.referrer and 'confirm' in request.referrer %}
    {% block body_attribs %}{{ super() }} onload="$('#messages').modal()"{% endblock %}
{% endif %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="modal fade" id="messages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Messages</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Love Touches</h1>
                        <p class="intro-text">A tool to help you keep your relationship vibrant.</p>
                        <div class="page-scroll">
                            <a href="#details" class="btn btn-circle">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="details" class="content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Love Touches</h2>
                <p>Relationships take work. They need attention, proding, improving. It is easy to fall into a rut and to take your relationship for granted rather than pursing the best possible relationship.</p>
                <p>Love Touches exists to provide you with a simple scheduled set of reminders, giving you a diversity of ideas to help you revitalize or enhance your relationship.</p>
                <div class="page-scroll">
                    <a href="#steps" class="btn btn-circle">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section text-center">
        <div class="steps-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 id="steps">Getting Started</h2>
                    <p>Getting started only takes three steps:</p>
                    <p>
                        <span class="fa fa-check-circle-o"></span> Tell us how you want to be notified<br />
                        <span class="fa fa-check-circle-o"></span> Pick your activities<br />
                        <span class="fa fa-check-circle-o"></span> Pick your schedule</p>
                    <a href="{{ url_for('step_one') }}" class="btn btn-default btn-lg">Get Started</a>
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="footer">
                        <p>
                            &copy 2014 by <a href="https://brolewis.com">Lewis Franklin</a> |
                            Theme based on <a href="http://startbootstrap.com/grayscale">Grayscale
                        </p>
                        <p>"<a href="https://www.flickr.com/photos/cchiao/5422108856">Sweet Couple</a>" by <a href="https://www.flickr.com/photos/cchiao/">Carolina Chiao</a> is licensed under <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
                        <p>"<a href="https://www.flickr.com/photos/taqumi/8972079962">hugging</a>" by <a href="https://www.flickr.com/photos/taqumi/">Takumi Yoshida</a> is licensed under <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
