{% extends "base.html" %}
{% block sub_title %}About{% endblock %}
{% block content %}
    <section class="intro" id="content-base">
        <div class="about-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="well" style="background-color: #333">

                            <h1 id="love_touches" class="intro-header">Love Touches Privacy Policy</h1>
                            <p>
                                This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is
                                being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify,
                                contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we
                                collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                            </p>
                            <h2>What personal information do we collect from the people that visit our website or app?</h2>
                            <p>
                                When signing up to receive scheduled reminders, you will be asked to enter your email address and/or phone number in order to deliver
                                the requested information.
                            </p>
                            <h2>When do we collect information?</h2>
                            <p>We collect information from you when you fill out the signup form.</p>
                            <h2>How do we use your information?</h2>
                            <p>We use the information collected when you register to send you the requested reminders.</p>
                            <h2>How do we protect visitor information?</h2>
                            <p>
                                Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special
                                access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you
                                supply is encrypted via Secure Socket Layer (SSL) technology.
                            </p>
                            <h2>Do we use 'cookies'?</h2>
                            <p>
                                Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you
                                allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For
                                instance, we use cookies to help us remember your login session. They are also used to help us understand your preferences based on previous
                                or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data
                                about site traffic and site interaction so that we can offer better site experiences and tools in the future.
                            </p>
                            <p>We use cookies to understand and save user's preferences for future visits as well as keep track of information during signup.</p>
                            <p>
                                You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this
                                through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn
                                the correct way to modify your cookies.
                            </p>
                            <p>
                                If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more
                                efficient and some of our services will not function properly.
                            </p>
                            <h2>Third Party Disclosure</h2>
                            <p>We do not sell, trade, or otherwise transfer to outside parties your information.</p>
                            <h2>Third party links</h2>
                            <p>We do not include or offer third party products or services on our website.</p>
                            <h2>California Online Privacy Protection Act</h2>
                            <p>
                                CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.  The law's reach
                                stretches well beyond California to require a person or company in the United States (and conceivably the world) that operates websites
                                collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating
                                exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy. -  See more at:
                                <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
                            </p>
                            <h3>According to CalOPPA we agree to the following:</h3>
                            <ul class="privacy">
                                <li>Users can visit our site anonymously</li>
                                <li>
                                    Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after
                                    entering our website.
                                </li>
                                <li>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</li>
                                <li>Users will be notified of any privacy policy changes on our Privacy Policy page.</li>
                                <li>Users are able to change their personal information by logging in to their account or by sending a ticket.</li>
                            </ul>
                            <h2>How does our site handle do not track signals?</h2>
                            <p>
                                We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
                            </p>
                            <h2>Does our site allow third party behavioral tracking?</h2>
                            <p>It's also important to note that we do not allow third party behavioral tracking</p>
                            <h2>COPPA (Children Online Privacy Protection Act)</h2>
                            <p>
                                When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts
                                parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what
                                operators of websites and online services must do to protect children's privacy and safety online.
                            </p>
                            <p>We do not specifically market to children under 13.</p>
                            <h2>Fair Information Practices</h2>
                            <p>
                                The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played
                                a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and
                                how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                            </p>
                            <p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
                            <ul class="privacy">
                                <li>We will notify the users via email within 7 business days.</li>
                                <li>We will notify the users via in-site notification within 7 business days.</li>
                            </ul>
                            <p>
                                We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights
                                against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable
                                rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute
                                non-compliance by data processors.
                            </p>
                            <h2>CAN SPAM Act</h2>
                            <p>
                                The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the
                                right to have emails stopped from being sent to them, and spells out tough penalties for violations.
                            </p>
                            <p>We collect your email address in order to:</p>
                            <ul class="privacy">
                                <li>Send information, respond to inquiries, and/or other requests or questions.</li>
                                <li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred</li>
                            </ul>
                            <p>To be accordance with CANSPAM we agree to the following:</p>
                            <ul class="privacy">
                                <li>NOT use false, or misleading subjects or email addresses</li>
                                <li> Identify the message as an advertisement in some reasonable way</li>
                                <li> Include the physical address of our business or site headquarters</li>
                                <li> Monitor third party email marketing services for compliance, if one is used.</li>
                                <li> Honor opt-out/unsubscribe requests quickly</li>
                                <li> Allow users to unsubscribe by using the link at the bottom of each email</li>
                            </ul>
                            <p>If at any time you would like to unsubscribe from receiving future emails, you can follow the instruction at the bottom of each email or reply with the word UNSUBSCRIBE.</p>
                            <h2>Contacting Us</h2>
                            <p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
                            <ul class="privacy">
                                <li>Love Touches</li>
                                <li>McKinney</li>
                                <li>United States</li>
                                <li>801 Ping Drive</li>
                                <li>Texas</li>
                                <li>75069</li>
                                <li>lewis@love-touches.org</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
