{% extends "signup_base.html" %}
{% block sub_title %}Step One{% endblock %}
{% block main %}
    <h1>Step One: Contact Info</h1>
    <p>How do you want the reminders sent to you?</p>
    <form method="post" role="form" class="form-horizontal" action="{{ url_for('step_one') }}">
        {{ contact_form(form) }}
    </form>
    <div class="info-footer">
        <div class="info-footer-body">
            Note: You will receive updates for <strong>*each*</strong> provided contact type, so if you don't want duplicates, pick only one
        </div>
    </div>
{% endblock %}
