{% extends "signup_base.html" %}
{% block sub_title %}Love Touches - Step Two{% endblock %}
{% block main %}
    <div class="flip">
        <div class="card">
            <div class="face front">
                <h1 class="signup-text">Step Two: Select Your Actions</h1>
                <p>First, pick a method</p>
                {% for method in methods %}
                <p><a href="#" id="{{ method.name }}" class="btn btn-default btn-lg toggle">{{ method.name }}</a></p>
                {% endfor %}
                <p><a href="#" class="btn btn-default btn-lg toggle">All</a></p>
            </div>
            <div class="face back"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var action_results = function(data) {
            $(".face.back").html(data.template);
            $(".face.front").hide();
            $("#messages").hide();
        }
        $(".toggle").click(function(){
            $.getJSON($SCRIPT_ROOT + '/_get_actions', {method_name: $(this).attr('id')},
                      action_results);
            $(".flip").find(".card").toggleClass("flipped");
            return false;
        });
    </script>
{% endblock %}
