{% extends "base.html" %}
{% block title %}Love Touches - Verify Phone Number{% endblock %}

{% block content %}
    <div class="signup-section">
        <div class="signup-body">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, m in messages %}
            <div class="container" id="messages">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-{{ category }}">
                            {{ m|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="signup-text">Verify Phone Number</h1>
                        <p>Please enter the verification code sent to your phone.</p>
                        <form method="post" role="form" class="form-horizontal" action="{{ url_for('verify_phone') }}">
                            {{ verify_form.hidden_tag() }}
                            {% for field in verify_form %}
                            {% if field|simple_field_filter and field.name != 'country_code' %}
                            <div class="form-group">
                                {{ field.label(class='col-sm-3 col-sm-offset-2 control-label') }}
                                <div class="col-sm-5">
                                    {{ field(class='form-control') }}
                                    {% if field.description %}
                                        <span class="help-block">{{ field.description|safe }}</span>
                                    {% endif %}
                                    {% if field.errors %}
                                    <span class="help-block help-error">
                                        {{ field.errors|join('<br />')|safe }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <ul class="list-inline banner-social-buttons">
                                        <li><a href="{{ url_for('verify_phone', action='re-send') }}" class="btn btn-lg">Re-send Code</a></li>
                                        <li>
                                        <button name="submit" type="submit" class="btn btn-default btn-lg">Confirm</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
